body {
  box-sizing: border-box;
  margin-top: 20px;
}

.column {
  float: left;
  padding: 10px;
}

.container {
  min-width: 90%;
}

#validation {
  color: red;
  font-size: 20px;
}

.gender-label {
  margin-right: 10px;
}

.btn {
  margin-top: 10px;
  margin-left: 30px;
}
